SITE_URL=http://localhost:3000
CONTENT_API_URL=http://localhost:8000
CONTENT_API_REVALIDATION_TOKEN=replace-with-a-long-random-secret
NEXT_PUBLIC_CONTENT_API_URL=http://localhost:8000
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAqbXELWcd6ckq2os5TY3FVTpmJChGnbgk
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=lineoa-g49.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=lineoa-g49
NEXT_PUBLIC_FIREBASE_APP_ID=1:250878482242:web:6e5905085292c0d2651adb

