DDBOX_ENVIRONMENT=local
DDBOX_RELEASE=dev
DDBOX_DATA_BACKEND=memory
DDBOX_MEDIA_BACKEND=local
DDBOX_AUTH_MODE=firebase
DDBOX_GCP_PROJECT_ID=
DDBOX_FIRESTORE_DATABASE=
DDBOX_STORAGE_BUCKET=
DDBOX_MEDIA_TOKEN_KEY=
DDBOX_MEDIA_SIGNING_SERVICE_ACCOUNT=
DDBOX_WEB_REVALIDATION_URL=
DDBOX_WEB_REVALIDATION_TOKEN=
DDBOX_CORS_ORIGINS=http://localhost:3000
DDBOX_MEDIA_ROOT=.local/media
DDBOX_MAX_UPLOAD_BYTES=10485760
DDBOX_NOTIFICATION_BACKEND=logging
DDBOX_LINE_CHANNEL_ACCESS_TOKEN=
DDBOX_LINE_NOTIFICATION_TARGET_ID=
DDBOX_RESEND_API_KEY=
DDBOX_NOTIFICATION_EMAIL_TO=paobansawang@gmail.com
DDBOX_NOTIFICATION_EMAIL_FROM=DD Box <notifications@ddboxprinting.com>
